.container{
    text-align: center;
}


.answerBtn {
    display: block;
    width: 200px;
    margin: 10px;
}
.time{
   float: right;
   font-size: 20px;
   margin-right: 40px;
   color: red;
  
}
#view-highscores{
    margin-left: 10px;
    margin-top: 10px;
}


